@model Contact
@{
    ViewData["Title"] = "Editar contato";
}

<div class="row">
    <div class="col-lg-12">
        <partial name="_Confirmations" />
    </div>
</div>
<div class="body-center">
    <div class="container-box">
        <div class="title-form">
            Editar contato.
        </div>
        <form asp-action="Edit">
            @Html.ValidationSummary()
            <div class="form-details">
                <div class="input-box">
                    <span class="details">
                        <label asp-for="FirstName"></label>
                    </span>
                    <input asp-for="@Model.FirstName" type="text" required />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="input-box">
                    <span class="details">
                        <label asp-for="LastName"></label>
                    </span>
                    <input asp-for="@Model.LastName" type="text" required />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="input-box">
                    <span class="details">
                        <label asp-for="PhoneNumber"></label>
                    </span>
                    <input asp-for="@Model.PhoneNumber" type="text" required onblur="phoneMask(this)" />
                </div>
                <div class="input-box">
                    <span class="details">
                        <label asp-for="Email"></label>
                    </span>
                    <input asp-for="@Model.Email" type="email" onblur="validEmail(this)" />
                    <div id="mailMessage"></div>
                </div>
                <div class="input-box">
                    <span class="details">
                        <label asp-for="BirthDate"></label>
                    </span>
                    <input asp-for="@Model.BirthDate" type="date" />
                </div>

            </div>
            <div class="button">
                <input type="submit" value="Editar" />
                <input type="button" class="back-button" value="Voltar para lista" onclick="@("window.location.href='" + @Url.Action("Index", "Contact") + "'");" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/phoneMask.js"></script>
    <script src="~/js/emailValidation.js"></script>
}